

.container1 {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 8em;
}

.container2 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 8em;
}

.item_1 {
  background: red;
}

.item_2 {
  background: yellow;
}

.item1 {
  background: greenyellow;
}

.item2 {
  background: blue;
}

.item3 {
  background: magenta;
}

.item4 {
  background: cyan;
}
